.contain {
    margin-top: 130px;
    color:#FFFFF7;
    padding:0px 25px 4px 2px;

  
  }
  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: none; }
  a{
    color:#FFFFF7;
  }

  .container{
    display: block;
    background-color: transparent;
    
  }
  .p {
    padding:35px 25px 45px 25px;
    border: solid;  
    margin:25px 90px 195px 350px;
    text-align: center;
    height: 300px;
    width: 300px;
    border-color: #FFFFF7;
    background-color: #09111d;
    border-radius: 20px;
  
  }

  .j {
    width: 1040px;
    height: 400px;
  }
  button {
    height: 28px;
    width: 100px;
  }
  *{
      margin:0 ;
      padding: 0;
      box-sizing: border-box;
  }
  h2{
    margin-left: 45px;
    font-family:Arial, Helvetica, sans-serif;
  }
  h4{
    font-family:Arial, Helvetica, sans-serif;
  }
  input{
    height: 28px;
  }
  body{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #09111d;
  }
  .container{
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
  }
  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    color: #f7fafa;
  }

  .particles{
      position: relative;
      display: flex;
      z-index: 1;
      padding: 0.20px;
  }
  .particles span {
      bottom: 30px;
      width: 30px;
      height: 30px;
      background: #4fc3dc;
      box-shadow: 0 0 0 10px #4fc3dc44,
      0 0 50px #4fc3dc,
      -100px 0 #4fc3dc99,
      100px 0 #ff2d7599;
      margin: 0 4px;
      border-radius: 50%;
      animation: animate 0s ease infinite;
      animation-duration: calc(125s/var(--i));
  
  }
  .particles span :nth-child(even){
  
      background: #ff2d75;
      box-shadow: 0 0 0 10px #ff005944,
      0 0 50px #ff2d75,
      -100px 0 #4fc3dc99,
      100px 0 #4fc3dc99;
  }
  @keyframes animate {
  
      0% {
          transform:translateY(120vh) scale(0) rotate(0deg) ;
  
      }
      20% {
          transform:translateY(100vh) scale(1) rotate(0deg) ;
  
      }
      100% {
          transform:translateY(-50vh) scale(0.5) rotate(360deg) ;
  
      }
  }


/* CSS */
.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 0px  0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
#myNavbar{
  position: fixed;
  width: 100%;
  background:#161d29;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #E8E8E8;
  text-decoration: none;
}

ul{
  list-style: none;
}
  
.medium{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
 
}

.right-nav{
  padding: 8px 15px;
  float: right;
}
.left-nav{
  padding:  8px 15px;
  float: left;
}