<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">

  <title>Game</title>


</head>
<body>

      <div class="container" >

        <div id="myNavbar">
         
          <ul>
            <li class="left-nav"><a href="{{ url_for('index') }}"><span class="medium">PsycheHealth</span></a></li>
            <li class="right-nav"><a href="{{ url_for('logout') }}"><span class="medium">LogOut</span></a></li>
             <li class="right-nav" ><a href="{{ url_for('blogs') }}"><span class="medium" >Blogs</span></a></li>
               <li class="right-nav"><a href="{{ url_for('game') }}"><span class="medium">Game</span></a></li>
            <li class="right-nav"><a href="{{ url_for('contact') }}"><span class="medium">Psychiatrist</span></a></li> 
          </ul>
             
        </div>               
        <div class="particles">
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:13;"></span>
            <span style="--i:15;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:13;"></span>
            <span style="--i:15;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>


                  </div>

                  <div class="but">
                    <center>
                      <h2 style="color:#FFFFF7;">
                        
                      </h2>
                      <br>
                    
                    </center>

                    <br>
                    <center>
                        <h2>Game play</h2>
                        <br>
                        <video width="700" controls>
                            <source src="Gemelody.mp4" type="video/mp4">
                            <source src="Gemelody.ogg" type="video/ogg">
                            Your browser does not support HTML video.
                          </video>
                          <br>
                          <br>
                        <button class="button-13" role="button"  >
                          <a href="" style="color:black">Download   </a>
                        </button>
                    <br>
                    <br>
                    <div class="post1">
                    <div class="row">
                        <p style="color: white;">Gemelody, a mesmerizing game that combines the power of music and soothing gameplay to help relax and calm the player's mind. In this game, colorful gems materialize and float gracefully across the screen in sync with the beats of the background music. The objective is simple yet captivating: the player must collect these gems as they appear by touching or swiping their fingers on the screen.</p>

                    </div>
                </div>
                    <br>
                    </center>

                  </div>


                  </div>










</body>
</html>
