<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  </head>

  <body>

    <div class="container" >
      <div id="myNavbar">
         
        <ul>
          <li class="left-nav"><a href="{{ url_for('register') }}"><span class="medium">PsycheHealth</span></a></li>
          <a href="{{ url_for('login') }}">  <li class="right-nav"><span class="medium">Log in</span></li></a>
        </ul>
             
        </div>
      <div class="particles">
          <span style="--i:11;"></span>
          <span style="--i:12;"></span>
          <span style="--i:24;"></span>
          <span style="--i:10;"></span>
          <span style="--i:14;"></span>
          <span style="--i:23;"></span>
          <span style="--i:18;"></span>
          <span style="--i:16;"></span>
          <span style="--i:19;"></span>
          <span style="--i:20;"></span>
          <span style="--i:22;"></span>
          <span style="--i:25;"></span>
          <span style="--i:18;"></span>
          <span style="--i:21;"></span>
          <span style="--i:13;"></span>
          <span style="--i:15;"></span>
          <span style="--i:26;"></span>
          <span style="--i:17;"></span>
          <span style="--i:13;"></span>
          <span style="--i:28;"></span>
          <span style="--i:11;"></span>
          <span style="--i:12;"></span>
          <span style="--i:24;"></span>
          <span style="--i:10;"></span>
          <span style="--i:14;"></span>
          <span style="--i:23;"></span>
          <span style="--i:18;"></span>
          <span style="--i:16;"></span>
          <span style="--i:19;"></span>
          <span style="--i:20;"></span>
          <span style="--i:22;"></span>
          <span style="--i:25;"></span>
          <span style="--i:18;"></span>
          <span style="--i:21;"></span>
          <span style="--i:13;"></span>
          <span style="--i:15;"></span>
          <span style="--i:26;"></span>
          <span style="--i:17;"></span>
          <span style="--i:13;"></span>
          <span style="--i:28;"></span>


                </div>
                <div class="contain">
                  <center>
                    <h2>REGISTER</h2>
                  </center>
                </div>

                <div class="container">
                  <center class="j">
                <div class="p">
                    <form method="POST" action="/register">
                        {{ form.hidden_tag() }}
                        {{ form.username }}
                        <br>
                        <br>
                        {{ form.email }}
                        <br>
                        <br>
                        {{ form.password }}
                        <br>
                        <br>
                        <br>
                            {{form.submit}}
                   
                    </form>

                <br>
              
               
              <h4 style="color:#FFFFF7"> 
                <a href="{{ url_for('login') }}"> Already have an account Log in</a>
              </h4>
              <br>
                </div>



                  </center>
                </div>




  </div>
</div>
<script src="index.js"></script>
  </body>
</html>