<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
  <title>Blogs</title>

</head>
<body>

      <div class="container" >

        <div id="myNavbar">
         
          <ul>
            <li class="left-nav"><a href="{{ url_for('index') }}"><span class="medium">PsycheHealth</span></a></li>
            <li class="right-nav"><a href="{{ url_for('logout') }}"><span class="medium">LogOut</span></a></li>
             <li class="right-nav" ><a href="{{ url_for('blogs') }}"><span class="medium" >Blogs</span></a></li>
               <li class="right-nav"><a href="{{ url_for('game') }}"><span class="medium">Game</span></a></li>
            <li class="right-nav"><a href="{{ url_for('contact') }}"><span class="medium">Psychiatrist</span></a></li> 
          </ul>
                 
            </div>

        <div class="particles">
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:13;"></span>
            <span style="--i:15;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:13;"></span>
            <span style="--i:15;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>


                  </div>

                  <div class="post">
                    <br>
                      <br>
                      <br>
                      <br>
                    <center>
                      <h3 style="color:#FFFFF7;">BLOGS</h3>
                      <br>
                    </center>
                    <div class="post1">

                      <h4 >Name:- <a href="https://natashatracy.com/topic/bipolar-blog/"> Bipolar Burble Blog</a>

                      <br>
                      <br>



                      <p>
                    Post:-
                  Natasha Tracy, Burble’s blogger, is an award-winning writer, speaker, and social media strategist who aims to provide accurate, intelligent, and trustworthy information regarding the bipolar disease. The mental health awareness blog began in 2003 as a personal chronicle of her bipolar disorder struggles. And still, expanding and climbing within the mental health community, gaining thousands of views each day.
                      </p>

                      </h4>
                      <br>
                    </div>
                    <div class="post2">
                      <h4 >Name - <a href="https://throughthedarkness.health.blog/">Through The Darkness Blog</a>

                      <br>

                      <br>
                    <p>
                      Post:-
                The Through the Darkness Blog is a personal narrative of one person’s struggle to overcome adversity. Readers can check out recent posts on the mental health awareness blog or subscribe to a newsletter to receive new information directly in their inboxes.


                    </p>



                      </h4>

                    </div>
                    <br>
                    <div class="post3">
                      <h4 >Name-  <a href="https://anxietysisters.com/blog/">The Anxiety Sisters</a>

                      <br>
                      <br>

                      <p>
                        Post :-

                Nearly thirty years ago, the Anxiety Sisters met in college. Their daily chats supported them through multiple panic episodes and phobias as they learned to comprehend and live with their fear over the next few decades. The Anxiety Sisters provide a mental health awareness blog and an e-course to assist folks trying to understand their anxiety.
                      </p>

                      </h4>
                    </div>

                  </div>




    </div>


</body>
</html>