<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
  <title>Psychiatrist</title>

</head>
<body>

      <div class="container" >

        <div id="myNavbar">
         
            <ul>
              <li class="left-nav"><a href="{{ url_for('index') }}"><span class="medium">PsycheHealth</span></a></li>
              <li class="right-nav"><a href="{{ url_for('logout') }}"><span class="medium">LogOut</span></a></li>
               <li class="right-nav" ><a href="{{ url_for('blogs') }}"><span class="medium" >Blogs</span></a></li>
                 <li class="right-nav"><a href="{{ url_for('game') }}"><span class="medium">Game</span></a></li>
              <li class="right-nav"><a href="{{ url_for('contact') }}"><span class="medium">Psychiatrist</span></a></li> 
            </ul>
                 
            </div>

        <div class="particles">
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:13;"></span>
            <span style="--i:15;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:13;"></span>
            <span style="--i:15;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>


                  </div>

                  <div class="post">
                    <br>
                      <br>
                      <br>
                      <br>
                    <center>
                      <h3 style="color:#FFFFF7;">Psychiatrist</h3>
                      <br>
                    </center>
                    <div class="post1">



                      <p>
           
                      </p>

                      </h4>
                      <br>
                    </div>
                    <div class="post2">
                      <br>

                      <br>
                      <h4>
                        Name- Dr.Nikhil Kanase 
                        <br>
                        Email:- nikhilkanase@gmail.com 
                        <br>
                        Phone:- 7558956631 
                        <br>
                        Address:-Govind Yashda Chowk, Pune 
                        <br>
                      </h4>



                      </h4>

                    </div>
                    <br>
                    <div class="post1">
                  



                      <p>
           
                      </p>

                      </h4>
                      <br>
                    </div>
                    <div class="post2">
                      <h4>
                        Name- Dr. Pankaj B Borade
                        <br>
                        Email:- dr.pankaj.borade@gmail.com
                        <br>
                        Phone:- 7922444248
                        <br>
                        Address:-Moledina Road,Camp,Pune
                        <br>
                      </h4>



                      </h4>

                    </div>
                    <br>
                    <br>
                    <div class="post2">
                      <h4>
                        Name- Dr. Rajesh Nalawade 
                        <br>
                        Email:- dr.rajesh.nal@gmail.com
                        <br>
                        Phone:- 7866489545 
                        <br>
                        Address:-Nigdi , Pune 
                        <br>
                      </h4>



                      </h4>

                    </div>
                    <br>
                   



    </div>


</body>
</html>